* {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: 'Muli', helvetica neue, arial, sans-serif;
  color: #161925;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#page {
  width: auto;
  margin: 0 auto;
}

#query {
  text-align: center;
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
}

header {
  margin: 80px auto;
}

#logo {
  text-align: center;
  font-weight: 200;
  font-size: 3em;
}

#tagline {
  text-align: center;
  font-weight: lighter;
}

#content {
  overflow: auto;
}

input[type="text"] {
  border: none;
  border-radius: 2px;
  padding: 20px;
  background-color: white;
  outline: none;
  font-size: 1em;
  width: 90%;

  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

#output-data {
  margin: 80px 0px;
  text-align: center;
  overflow: auto;
}

.output {
  width: auto;
  background-color: #ECECEC;
  padding: 20px;
  border-radius: 2px;
  float: none;
}

.output-name {
  padding: 10px;
  color: white;
  border-radius: 2px;
  text-align: center;
  width: 100px;
  margin: 0px auto 20px auto;
}	

#delta {
  background-color: #161925;
}

#local {
  background-color: #23395B;
}

#utc {
  background-color: #406E8E;
}

#epoch {
  background-color: #8EA8C3;
}

.output-content {
  background-color: white;
  padding: 8px 20px;
  display: inline-block;
}

input.no-input {
  border-bottom: 3px solid #969696;
}

input.valid-input {
  border-bottom: 3px solid #91C499;
}

input.invalid-input {
  border-bottom: 3px solid #C05C69;
}

.message {
  text-align: center;
  color: #969696;
  margin-top: 10px;
}

.message:empty {
  display: none;
}

footer {
  font-weight: 300;
  font-size: 80%;
  text-align: center;
  margin: 20px;
}

@media (min-width: 480px) { 
  .output {
    width: 45%;
    float: left;
  }
  input[type="text"] {
    width: 80%;
  }
}

@media (min-width: 1280px) { 
  #content {
    width: 1200px;
    margin: auto;
  }
  .output {
    width: 25%;
    float: left;
  }
  input[type="text"] {
    width: 50%;
  }
}