* {
	margin: 0;
	padding: 0;
	background-color: whitesmoke;
	font-family: helvetica neue, arial, sans-serif;
}

#page {
	width: 1280px;
	margin: auto;
}

#search {
	margin: 50px 0 50px 0;
	text-align: center;
}

#logo {
	text-align: center;
	margin: 50px;
}

input[type="text"] {
	border: none;
	padding: 20px;
	border-bottom: solid 2px #c9c9c9;
	background-color: white;
	outline: none;
	font-size: 1em;
}

input[type="text"]:focus {
	border-bottom: solid 2px #969696;
}

.output {
	float: left;
	margin: 300px;
	margin: 10px;
}

.output-name {
	padding: 10px;
	background-color: #c9c9c9;
	color: white;
	border-radius: 20px;
	text-align: center;
}	