<!DOCTYPE html>
<html>
  <head>
    <title>Time Delta</title>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Muli:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ static_url('css/main.css') }}" type="text/css">
    <script src="{{ static_url('js/moment-2.12.0.min.js') }}"></script>
    <script src="{{ static_url('js/moment-timezone-with-data-2010-2020.min.js') }}"></script>
  </head>
  <body>
    <div id="page">
      <header>
        <h1 id="logo">
          TIME DELT&Delta;
        </h1>
        <h2 id="tagline">
          Convert any date or time format into a timestamp
        </h2>
      </header>	
      <div id="content">
        <div id="query">
          <input type="text" id="js-query" name="query" value="now" placeholder="Enter a date or timestamp" size="50" max-length="50" required="required" />
          <div class="message" id="js-error"></div>
        </div>
        <div id="output-data">
          <div class="output">
            <div id="delta" class="output-name">
              DELTA
            </div>
            <div id="js-delta" class="output-content">placeholder text</div>
          </div>
          <div class="output">
            <div id="local" class="output-name">
              LOCAL
            </div>
            <div id="js-local" class="output-content">placeholder text</div>
          </div>
          <div class="output">
            <div id="utc" class="output-name">
              UTC
            </div>
            <div id="js-utc" class="output-content">placeholder text</div>
          </div>
          <div class="output">
            <div id="epoch" class="output-name">
              EPOCH
            </div>
            <div id="js-epoch" class="output-content">placeholder text</div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      &copy; 2016 TIME DELT&Delta;
    </footer>	
    <script src="{{ static_url('js/main.js') }}"></script>
  </body>
</html>
