<!DOCTYPE html>
<html>
	<head>
		<title>Time Delta</title>
		<meta charset="utf-8">
    <link rel="stylesheet" href="{{ static_url('css/main.css') }}" type="text/css">
	</head>
	<body>
		<div id="page">
			<header>
				<h1 id="logo">
					TIME DELT&Delta;
				</h1>
				<nav></nav>
			<header>	
			<div id="content">
				<div id="search">
					<input type="text" name="query" placeholder="Enter a date or timestamp" size="50" max-length="50" required="required" />	
				</div>
			
				<div id="output-data">
					<div id="epoch" class="output">
						<div class="output-name">
							Epoch
						</div>	
						<span id="js-epoch">placeholder text</span>
					</div>
					<div id="iso" class="output">
						<div class="output-name">
							ISO
						</div>	
						<span id="js-iso" class="output-content">placeholder text</span>
					</div>	
					<div id="local" class="output">
						<div class="output-name">
							Local
						</div>	
						<span id="js-local" class="output-content">placeholder text</span>
					</div>
					<div id="delta" class="output">
						<div class="output-name">
							Delta
						</div>	
						<span id="js-delta" class="output-content">placeholder text</span>
					</div>		
				</div>	
				<footer></footer>	
			</div>
		</div>		
	</body>
</html>
